.experience {
  table {
    padding: 15px;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: lightgrey;
    border-radius: 10px;
  }
  th,
  tr,
  td {
    border: 1px solid white;
    padding: 1rem;
  }
}
